﻿@model IEnumerable<Biblioteca.Model.Libro>

@{
    ViewBag.Title = "Libros Disponibles";
}

<h2>Libros Disponibles</h2>

<p>
    @Html.ActionLink("Nuevo Libro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Prestar", "Prestar", new { id=item.Id }) |
            @Html.ActionLink("Dar de Baja", "DarDeBaja", new { id=item.Id })
        </td>
    </tr>
}

</table>
